Test/XML/Job.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Job">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="dl">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dt" type="xs:string" />
							<xs:element maxOccurs="unbounded" name="dd">
								<xs:complexType mixed="true">
									<xs:sequence minOccurs="0">
										<xs:element name="ol">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="li" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>